services:
  db:
    image: postgres
    environment:
      POSTGRES_PASSWORD: mot_de_passe_perso_postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

# les tables ont été créées directement dans postgres. Je n'ai pas créé de bdd pour le projet BAN. 